.navigation-bar-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.15s;
}

.navigation-bar-item-content {
    text-align: center;
    font-size: 18px;
}

.navigation-bar-item:hover {
    background-color: #75bd15;
    color: white;
    opacity: 0.9;
}

.navigation-bar-item-background-light-primary {
    background-color: #202A44;
}

.navigation-bar-item-background-light-secondary {
    background-color: #75bd15;
}

.navigation-bar-item-background-dark-primary {
    background-color: #1e1e1e;
}

.navigation-bar-item-background-dark-secondary {
    background-color: #75bd15;
}

@media (max-width: 640px) {
    .navigation-bar-item-content {
        text-align: center;
        font-size: 15px;
    }
}
