.navigation-bar-item {
    width: stretch;
    height: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navigation-bar-item-content {
    text-align: center;
    font-size: 18px;
}

.navigation-bar-item:hover {
    background-color: #75bd15;
    color: white;
}

.navigation-bar-item-background-light-primary {
    background-color: white;
}

.navigation-bar-item-background-light-secondary {
    background-color: #75bd15;
}

.navigation-bar-item-background-dark-primary {
    background-color: #1e1e1e;
}

.navigation-bar-item-background-dark-secondary {
    background-color: #75bd15;
}

@media (max-width: 640px) {
    .navigation-bar-item-content {
        text-align: center;
        font-size: 15px;
    }
}
