.navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    box-shadow: 0 3px 7px rgba(200, 200, 200, 0.6);
    position: relative;
    z-index: 99;
}

@media (max-width: 640px) {
    .navigation-bar {
        height: 60px;
    }
}