# ASP.NET Core
*.dll
*.exe
*.pdb
*.dll.config
*.json
*.log
*.csproj
*.nuget.targets
*.user
*.vscode
obj/
bin/
TestResults/
publish/
*.swp

# Node.js / npm
node_modules/
npm-debug.log
yarn-error.log
yarn.lock

# React
/build/
/dist/

# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Others
*.cache
Thumbs.db
*.DS_Store
*.bak
*.tmp
*.vspscc
*.vssscc
*.orig
*.*~